{
  "arrowParens": "avoid",
  "singleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "editorconfig": true,
  "insertPragma": false,
  "parser": "typescript",
  "printWidth": 75,
  "quoteProps": "consistent"
}

